<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Upload Conference Paper | ISIC 2014</title>

    <link href="css/style.css" rel="stylesheet">
    <link href="http://static.wixstatic.com/ficons/89355b_8adb1bc8d31a9b11a84eec6107dc1b89_fi.ico" rel="shortcut icon">
    <link href="http://isic-tiimi.co.uk/#conference/c1qns" rel="up">
    <link href="http://isic-tiimi.co.uk/" rel="index up up">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

      <header class="page-header">
        <h1><a href="http://isic-tiimi.co.uk/"><img src="http://static.wixstatic.com/media/89355b_d937999d099e4fd3b42a58c29df056a3.png_srz_p_242_74_75_22_0.50_1.20_0.00_png_srz" alt="ISIC 2014"></a></h1>
      </header>

      <ol class="breadcrumb">
        <li><a href="http://isic-tiimi.co.uk/" rel="index up up">ISIC 2014</a></li>
        <li><a href="http://isic-tiimi.co.uk/#conference/c1qns" rel="up">Conference</a></li>
        <li class="active"><a href="/upload">Upload conference paper</a></li>
      </ol>

      <h2>Upload conference paper</h2>

      {{{body}}}

    </div>
  </body>
</html>
