<p class="lead">Welcome, <strong>{{user.name}}</strong>. Select your full paper file and click <strong>Submit</strong> to upload.</p>

<form role="form" class="form" method="POST" enctype="multipart/form-data" action="/upload?_csrf={{safeCsrf}}">
  <div class="form-group">
    <label for="inputFile">Full paper</label>
    <input type="file" id="inputFile" name="file">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>